<div class="grid-container" class = "animation">
    <h1 class="mat-h1">Lista de apartamento</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile
        *ngFor="let card of apartamentos"
        [colspan]="1"
        [rowspan]="1"
      >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{ card.nome }}
              <button
                mat-icon-button
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Visitar</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Quantidade de quartos: {{card.quarto}}</div>
            <div>Quantidade de suites: {{card.suite}}  </div>
            <div>Quantidade de salas: {{card.sala}}</div>
            <div>Quantidade de vagas na garagem: {{card.garagem}}  </div>
            <div>Quantidade de armário embutidos: {{card.armarioEmbutido}}  </div>
            <div>Endereço: {{card.endereco}}  </div>
            <div>Área: {{card.metros}}</div>
            <div>Bairro: {{card.idBairro}}  </div>
            <div>Andar: {{card.andar}}  </div>
            <div>Alguel: {{card.aluguel}}</div>
            <div>Preço do condominio: {{card.condominio}}</div>
            <div>Possui portaria 24h: {{card.idBairro? "sim":"não"}}  </div>
            <div>Descrição: {{card.descricao}}  </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>