<div class="grid-container">
  <h1 class="mat-h1">Sobre</h1>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Trabalho prático Eng. Software
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div>
        <p>
        Trabalho prático da matéria de Engenharia de Software, desenvolvido pelos alunos:
        </p>
        <ol>
          <li>Gabriel Alves Barbosa</li>
          <li>Gabriel Luís Silva Pereira</li>
        </ol>
        
      </div>
    </mat-card-content>
  </mat-card>
</div>
