.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.full-width {
    width: 95%;
}

// .spinner{
//     position: absolute;
//     left: 23%;
//     top: 30%;
    
// }

.dashboard-card-content {
    text-align: center;
}
  