<mat-grid-list cols="3" rowHeight="800px">
    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        >
        <mat-card class="dashboard-card">
            <mat-card-header>
            <mat-card-title>
                Cadastrar Casa:
            </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <form class="example-form"
                    [formGroup]="form">
                    <mat-form-field class="full-width">
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput  placeholder="Nome" formControlName="nome">
                    </mat-form-field>
                  
                    <mat-form-field class="full-width">
                        <mat-label>Quantidade de Quartos</mat-label>
                        <input type="number" matInput placeholder="Ex: 1" formControlName="quarto">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Quantidade de Suítes</mat-label>
                        <input type="number" matInput placeholder="Suíte 14" formControlName="suite">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Quantidade de Vagas na Garagem</mat-label>
                        <input type="number" matInput placeholder="5 Vagas" formControlName="garagem">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Quantidade de Sala</mat-label>
                        <input type="number" matInput placeholder="2 Salas" formControlName="sala">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Quantidade de Armarios Embutidos</mat-label>
                        <input type="number" matInput placeholder="5 armarios" formControlName="armarioEmbutido">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Endereço</mat-label>
                        <input type="text" matInput placeholder="Rua das batatas" formControlName="endereco">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Área da casa</mat-label>
                        <input type="number" matInput placeholder="250" formControlName="metros">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Bairro</mat-label>
                        <select matNativeControl required formControlName="idBairro">
                            <option *ngFor="let bairro of bairros" [value]="bairro.nome">{{bairro.nome}}</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Aluguel da casa</mat-label>
                        <input type="number" matInput placeholder="1100" formControlName="aluguel">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Descrição</mat-label>
                        <input type="text" matInput placeholder="Descrição" formControlName="descricao">
                    </mat-form-field>
                  </form>
            </mat-card-content>
            <button mat-raised-button style="float: right;" (click)="cadastrar()" color="primary" type="submit" [disabled]="!form.valid">Cadastrar</button>
        </mat-card>
   </mat-grid-tile>
</mat-grid-list>